{% block sidebar %}
  <!-- Sidebar Widgets Column -->
  <div class="card mb-4" style="height: 100%; text-align: center; align-content: center;">
    <h5 class="card-header" style="background-color: rgb(0, 128, 255); color: white; text-align: center;">About Us</h5>
    <div class="card-body">
      <p class="card-text">This awesome blog is made for students to collaborate on assignments and update deadlines and technicals about posted assignments.</p>
      <a href="" class="btn btn-secondary">Know More</a>
    </div>
  </div>
{% endblock %}
